user#show
<p class="notice"><%= notice %></p>
logged in as <%= current_user.email %>
<%= link_to 'Edit profile', edit_user_registration_path %> |
<%= link_to "Logout", destroy_user_session_path, method: :delete %>