<div id="about" class="container">
  <div class="row">
    <h1>How to Use</h1>
    <%= render 'shared/gmaps' %>
    <hr class="featurette-divider">
    <div class="featurette span12">
      <img class="featurette-image pull-right img-circle" src="/images/about1.png">
      <h2 class="featurette-heading">Learn about Heritage sites. <span class="muted">It'll blow your mind.</span></h2>
      <p class="lead">
        Search, browse, discover World Heritage sites.   All of the sites are marked with awesome descriptions.  The map on top
        have 10 random sites! Explore! If there is a map, try hovering over the links!
      </p>
    </div>
    <hr class="featurette-divider">
    <div class="featurette span12">
      <img class="featurette-image pull-left img-circle" src="/images/about2.png">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">But there is more!</span></h2>
      <p class="lead">If you make an account, you can keep track of where you want to go and have been.  All the meta data will be on the map! </p>
    </div>
    <hr class="featurette-divider">
    <div class="featurette span12">
      <img class="featurette-image pull-right img-circle" src="/images/about3.png">
      <h2 class="featurette-heading">And lastly, this one. <span class="muted">Why?.</span></h2>
      <p class="lead">
        The goal of World Heritage list is to reflect world's cultural and natural diversity of outstanding universal value. 
        As world gets smaller and smaller it's important to connect with each other and cherish diversity.I found teaching geography very 
        limited and wanted to create a tool to make things easier for teachers, parents and students.
      </p>
    </div>
  </div>
</div>
