/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require pickadate/default
 *= require pickadate/default.date
 *= require_self
 *= require_tree .
 */
.gmaps4rails_map img {
    max-width: none;
}
.gmaps4rails_map label {
    width: auto; display:inline;
}

a.location:hover{
  text-decoration: none;
  color:black;
}

.navbar .nav > li > a.dropdown-toggle{
    padding: 0px 10px 0px 10px;
  img{
    padding-right: 10px
  }
}
