.launch-banner{
  padding: 20px 0px 20px 0px;
  background: url(http://ww1.prweb.com/prfiles/2007/09/19/272521/MissouriRiverCountryWildlife1.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .form{
    float: right;
    background-color: white;
    padding: 0px 50px 0px 50px;
    border: 2px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }
}
.intro{
  .gmaps4rails_map{
    width: 400px;
    height: 400px
  }
  .map_container{
    width: 400px;
    height: 400px;
  }
}
